$primary_color: #ff69b4;
$white_color: #fff;
$black_color: #000;
$dark_grey: rgb(36, 41, 47);

$primary_font: Helvetica;
$bold_font: bold;

// font sizes
$large_font: 18px;
$medium_font: 16px;
$small_font: 14px;
